vendor/
node_modules/
.env
*.log
config/settings.inc.php
config/config.inc.php
config/defines.inc.php
config/smarty.config.inc.php
config/autoload.php
config/alias.php
cache/
!cache/index.php
modules/payonarrival/
override/controllers/admin/AdminProductsController.php
admin707akbcps/tabs/AdminProductsController.php
test_*.php
diag*.php
debug_*.php
